# Tags
*tags

# Logs 
log/
*.log

# Mac specific
.DS_Store
.DS_Store?

# Python
.ipynb_checkpoints
__pycache__/
*.pyc
*.ycm_extra_conf.py

# Python test
*.pytest_cache
*.coverage
coverage.xml
*.egg-info/

# Python build
build
dist

# Open cached files 
*.m~
*.*swp
*.*swo

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
.Rproj.user
